/* --------------------- VARIABLES -------------------- */
/* Breakpoints */
/* Colors */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;700&display=swap");
@font-face {
  font-family: "Stanley";
  src: url("../assets/fonts/StanleyRegular.woff2") format("woff2"), url("../assets/fonts/StanleyRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "red50";
  src: url("../assets/fonts/Redaction_50-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* --------------------- MIXINS -------------------- */
/* Media queries */
/* Typography */
/* Utils */
/* Spacing */
/* --------------------- FUNCTIONS -------------------- */
/* Typography */
/* --------------------- ROOT -------------------- */
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

/* --------------------- GLOBAL -------------------- */
#app {
  margin: 0 24px;
}
@media (min-width: 640px) {
  #app {
    margin: 0 100px;
    overflow: auto;
  }
}

html {
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Sora", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: hsl(225, 7%, 12%);
  transition: opacity 0.4s ease-in-out;
}
h1 {
  font-style: normal;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.03em;
  font-weight: 400;
  margin-top: 120px;
  margin-bottom: 60px;
}
@media (max-width: 640px) {
  h1 {
    font-size: 40px;
    line-height: 48.41px;
  }
}
@media (min-width: 640px) {
  h1 {
    margin-top: 200px;
    margin-bottom: 120px;
  }
}

/* [1] The container */
.img-hover-zoom {
  height: auto; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.navbar, .sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.03em;
}
@media (max-width: 640px) {
  .navbar, .sidebar-header {
    font-size: 12px;
    line-height: 26px;
  }
}
@media (min-width: 640px) {
  .navbar, .sidebar-header {
    padding-top: 100px;
  }
}

.sidebar__button {
  cursor: pointer;
}

.navbar__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 640px) {
  .navbar__list {
    display: none;
  }
}

.navbar__item {
  margin: 0 20px;
}
.navbar__item:last-child {
  margin-right: 0;
}

.sidebar {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: hsl(225, 7%, 12%);
  color: hsl(222, 100%, 98%);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 640px) {
  .sidebar {
    display: none;
  }
}
.sidebar--open {
  height: 100vh;
  height: -webkit-fill-available;
  height: fill-available;
  width: 100%;
  padding: 24px;
  padding-top: 0;
}
.sidebar--hidden {
  width: 0;
  padding: 0;
}
.sidebar a {
  color: hsl(222, 100%, 98%);
}

.sidebar-header__brand {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.03em;
}
@media (max-width: 640px) {
  .sidebar-header__brand {
    font-size: 12px;
    line-height: 26px;
  }
}

.sidebar__list {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 640px) {
  .sidebar__list {
    font-size: 24px;
    line-height: 29.05px;
  }
}

.sidebar__item {
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 50px;
  border-bottom: hsl(222, 100%, 98%) solid 1px;
  color: hsl(222, 100%, 98%);
  font-style: normal;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.03em;
  font-weight: 400;
}
@media (max-width: 640px) {
  .sidebar__item {
    font-size: 40px;
    line-height: 48.41px;
  }
}
.sidebar__item:last-of-type {
  border-bottom: none;
}

.sidebar-footer {
  width: 100%;
}

.sidebar-footer__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-footer__item {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: hsl(222, 100%, 98%);
  margin-bottom: 40px;
}
@media (max-width: 640px) {
  .sidebar-footer__item {
    font-size: 24px;
    line-height: 29.05px;
  }
}
.sidebar-footer__item:last-of-type {
  margin-bottom: 0;
}
.sidebar-footer__item a {
  margin-top: 20px;
  color: hsl(222, 100%, 98%);
}

.sidebar-footer__label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  /* identical to box height, or 217% */
  letter-spacing: -0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: hsl(222, 100%, 98%) solid 1px;
}
@media (max-width: 640px) {
  .sidebar-footer__label {
    font-size: 12px;
    line-height: 26px;
  }
}

@media (min-width: 640px) {
  #sidebar__button--open {
    display: none;
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 50px;
}
@media (min-width: 640px) {
  .footer {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    margin-top: 200px;
    margin-bottom: 100px;
  }
}

.footer__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 640px) {
  .footer__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.footer__item {
  display: flex;
  flex-direction: column;
  text-transform: lowercase;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.03em;
}
@media (max-width: 640px) {
  .footer__item {
    font-size: 24px;
    line-height: 29.05px;
  }
}
@media (min-width: 640px) {
  .footer__item.align-right * {
    text-align: right;
  }
}

@media (max-width: 640px) {
  .footer__separator {
    display: none;
  }
}
@media (min-width: 640px) {
  .footer__separator {
    width: 100%;
    border-bottom: hsl(225, 7%, 12%) solid 1px;
    position: absolute;
    top: 35px;
  }
}

.footer__item:last-child {
  margin-top: 40px;
}
@media (min-width: 640px) {
  .footer__item:last-child {
    text-align: left;
    margin: 0;
  }
}

.footer__label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  /* identical to box height, or 217% */
  letter-spacing: -0.03em;
  text-transform: uppercase;
  border-bottom: hsl(225, 7%, 12%) 1px solid;
  padding-bottom: 24px;
}
@media (max-width: 640px) {
  .footer__label {
    font-size: 12px;
    line-height: 26px;
  }
}
@media (min-width: 640px) {
  .footer__label {
    border-bottom: none;
  }
}

.footer__link {
  margin-top: 24px;
}
@media (min-width: 640px) {
  .footer__link {
    margin-top: 40px;
  }
}

.curated-projects__list {
  column-gap: 24px;
  column-fill: initial;
  column-count: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .curated-projects__list {
    column-count: 2;
    column-gap: 40px;
  }
}

.curated-projects__item {
  display: inline-block;
  /* Fix the misalignment of items */
  vertical-align: top;
  /* Keep the item on the very top */
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .curated-projects__item {
    margin-bottom: 80px;
  }
}

.curated-projects__image {
  backface-visibility: hidden;
  /* Remove Image flickering on hover */
}

.curated-projects__overlay-title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.03em;
  border-bottom: hsl(225, 7%, 12%) 1px solid;
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0;
}
@media (max-width: 640px) {
  .curated-projects__overlay-title {
    font-size: 24px;
    line-height: 29.05px;
  }
}
@media (min-width: 768px) {
  .curated-projects__overlay-title {
    padding-top: 50px;
    padding-bottom: 40px;
    margin: 0;
  }
}

.curated-projects__overlay-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.03em;
  padding-top: 20px;
  margin: 0;
}
@media (max-width: 640px) {
  .curated-projects__overlay-infos {
    font-size: 16px;
    line-height: 26px;
  }
}
.curated-projects__overlay-infos span:first-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.03em;
}
@media (max-width: 640px) {
  .curated-projects__overlay-infos span:first-of-type {
    font-size: 12px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .curated-projects__overlay-infos {
    padding-top: 40px;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .curated-projects__item--offset-top {
    margin-top: 180px;
  }
}
@media (min-width: 768px) {
  .project h1 {
    margin-bottom: 80px;
  }
}
.project__overview {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .project__overview {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
  }
}

.project__overview h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  /* identical to box height, or 217% */
  letter-spacing: -0.03em;
  text-transform: uppercase;
  border-bottom: hsl(225, 7%, 12%) 1px solid;
}
@media (max-width: 640px) {
  .project__overview h2 {
    font-size: 12px;
    line-height: 26px;
  }
}

.project__pitch, .project__context, .project__skillset {
  flex-grow: 1;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .project__pitch, .project__context, .project__skillset {
    width: 24rem;
    margin: 0 40px;
  }
  .project__pitch:first-child, .project__context:first-child, .project__skillset:first-child {
    margin-left: 0;
  }
  .project__pitch:last-child, .project__context:last-child, .project__skillset:last-child {
    margin-right: 0;
  }
}
.project__pitch h2, .project__context h2, .project__skillset h2 {
  padding-bottom: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .project__pitch h2, .project__context h2, .project__skillset h2 {
    margin: 40px 0;
  }
}
.project__pitch p, .project__context p, .project__skillset p {
  margin-top: 30px;
  margin-bottom: 0;
}

.skillset__list {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style: none;
}
.skillset__list .skillset__item {
  display: inline;
}

.project__gallery {
  column-gap: 24px;
  column-fill: initial;
  column-count: 1;
}

.project-gallery__item {
  width: 100%;
}

@media (max-width: 640px) {
  .mobile-portfolio {
    display: block;
  }
}
@media (min-width: 768px) {
  .mobile-portfolio {
    display: none;
  }
}

.mobile-portfolio__list {
  column-gap: 40px;
  column-fill: initial;
  column-count: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .mobile-portfolio__list {
    column-count: 2;
  }
}

.mobile-portfolio__item {
  display: inline-block; /* Fix the misalignment of items */
  vertical-align: top; /* Keep the item on the very top */
  margin: 40px 0;
}

.mobile-portfolio__image {
  backface-visibility: hidden; /* Remove Image flickering on hover */
}

.mobile-portfolio__overlay-title {
  border-bottom: hsl(225, 7%, 12%) 1px solid;
  padding-top: 50px;
  padding-bottom: 20px;
  margin: 0;
}

.mobile-portfolio__overlay-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.03em;
  padding-top: 20px;
  margin: 0;
}
@media (max-width: 640px) {
  .mobile-portfolio__overlay-infos {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .mobile-portfolio__overlay-infos {
    padding-top: 40px;
    margin: 0;
  }
}

@media (max-width: 640px) {
  .desktop-portfolio {
    display: none;
  }
}
@media (min-width: 768px) {
  .desktop-portfolio {
    display: block;
  }
}

.desktop-portfolio__table {
  border-collapse: collapse;
  width: 100%;
  position: relative;
}

.desktop-portfolio__label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  /* identical to box height, or 217% */
  letter-spacing: -0.03em;
  border-top: none !important;
  text-transform: uppercase;
}
@media (max-width: 640px) {
  .desktop-portfolio__label {
    font-size: 12px;
    line-height: 26px;
  }
}
@media (min-width: 768px) {
  .desktop-portfolio__label {
    padding-bottom: 20px;
  }
}

.desktop-portfolio td, .desktop-portfolio th {
  border-top: 1px solid hsl(225, 7%, 12%);
  text-align: left;
}
@media (min-width: 768px) {
  .desktop-portfolio td, .desktop-portfolio th {
    padding: 50px 0;
  }
}

.desktop-portfolio__title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.03em;
  border-top: 1px solid hsl(225, 7%, 12%);
}
@media (max-width: 640px) {
  .desktop-portfolio__title {
    font-size: 24px;
    line-height: 29.05px;
  }
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 640px) {
  .about__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
  }
}

.about__item .skills {
  width: 100%;
  order: 2;
}
@media (min-width: 640px) {
  .about__item .skills {
    flex-grow: 1;
    margin-right: 150px;
    max-width: 280px;
  }
}

.about .skills__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 640px) {
  .about .skills__list {
    margin-top: 50px;
  }
}

.about .details__title, .details__label, .skills__title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  /* identical to box height, or 217% */
  letter-spacing: -0.03em;
  text-transform: uppercase;
  border-bottom: hsl(225, 7%, 12%) 1px solid;
  padding-bottom: 24px;
}
@media (max-width: 640px) {
  .about .details__title, .details__label, .skills__title {
    font-size: 12px;
    line-height: 26px;
  }
}

.about .skills__item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.03em;
}
@media (max-width: 640px) {
  .about .skills__item {
    font-size: 12px;
    line-height: 26px;
  }
}

@media (max-width: 640px) {
  .about .skills__title, .details__label {
    display: none;
  }
}

@media (min-width: 640px) {
  .about .details__title {
    display: none;
  }
}

@media (min-width: 640px) {
  .about .details__label {
    display: block;
  }
}

.about .details {
  flex-grow: 3;
}

.about .details__text {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.03em;
}
@media (max-width: 640px) {
  .about .details__text {
    font-size: 24px;
    line-height: 29.05px;
  }
}
@media (min-width: 640px) {
  .about .details__text {
    max-width: 600px;
  }
}

/*# sourceMappingURL=app.css.map */
